body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #5b9f96;
}

#canva-container {
    position: relative;
    display: grid;
    place-items: center;
    border: 1px solid black;
    background: url(../../assets/sky.webp);
    background-color: #c0a13a00;
}